:root {
	/* Color styles */
	--color-red-50: hsla(0, 0%, 100%, 1);
	--color-red-100: hsla(0, 100%, 93.9%, 1);
	--color-red-200: hsla(0, 100%, 87.8%, 1);
	--color-red-300: hsla(0, 97.9%, 81.4%, 1);
	--color-red-400: hsla(0, 98.4%, 75.3%, 1);
	--color-red-500: hsla(0, 98.7%, 69.2%, 1);
	--color-red-600: hsla(0, 99.1%, 55.5%, 1);
	--color-red-700: hsla(0, 99.1%, 41.4%, 1);
	--color-red-800: hsla(0, 98.6%, 27.6%, 1);
	--color-red-900: hsla(0, 100%, 13.7%, 1);

	--color-orange-50: hsla(0, 0%, 100%, 1);
	--color-orange-100: hsla(29, 100%, 93.9%, 1);
	--color-orange-200: hsla(30, 100%, 87.8%, 1);
	--color-orange-300: hsla(30, 97.9%, 81.4%, 1);
	--color-orange-400: hsla(30, 98.4%, 75.3%, 1);
	--color-orange-500: hsla(30, 98.7%, 69.2%, 1);
	--color-orange-600: hsla(30, 99.1%, 55.5%, 1);
	--color-orange-700: hsla(30, 99.1%, 41.4%, 1);
	--color-orange-800: hsla(30, 98.6%, 27.6%, 1);
	--color-orange-900: hsla(31, 100%, 13.7%, 1);

	--color-purple-50: hsla(0, 0%, 100%, 1);
	--color-purple-100: hsla(269, 100%, 93.9%, 1);
	--color-purple-200: hsla(270, 100%, 87.8%, 1);
	--color-purple-300: hsla(270, 97.9%, 81.4%, 1);
	--color-purple-400: hsla(270, 98.4%, 75.3%, 1);
	--color-purple-500: hsla(270, 98.7%, 69.2%, 1);
	--color-purple-600: hsla(270, 99.1%, 55.5%, 1);
	--color-purple-700: hsla(270, 99.1%, 41.4%, 1);
	--color-purple-800: hsla(270, 98.6%, 27.6%, 1);
	--color-purple-900: hsla(271, 100%, 13.7%, 1);

	--color-background-gradient: linear-gradient(
		180deg,
		#fed0a1 -14.23%,
		#fed0a1 -14.22%,
		#fe8e1d 100%
	);
	--color-primary: var(--color-purple-500);
	/* */

	/* Text styles */
	--color-body-text: hsla(0, 0%, 0%, 1);
	--color-heading-text: hsla(0, 0%, 0%, 1);
	--color-body-text-inverted: hsla(0, 0%, 100%, 1);

	--font-family-body: 'Quicksand', sans-serif;
	--font-family-heading: 'Quicksand', sans-serif;

	--font-size-h1: 3.052rem;
	--font-size-h2: 2.441rem;
	--font-size-h3: 1.953rem;
	--font-size-h4: 1.563rem;
	--font-size-h5: 1.25rem;

	--font-size-body-normal: 1rem;
	--font-size-body-small: 0.8rem;
	--font-size-body-extra-small: 0.64rem;

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;

	--line-height-body: 1.75;
	--line-height-heading: 1.33;
}

* {
	box-sizing: border-box;
}

html {
	font-size: clamp(1rem, 1.5vw, 1.5rem);
}

body {
	line-height: var(--line-height-body);
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-normal);
	color: var(--color-body-text);
	background: var(--color-background-gradient);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

/* TODO: Move this styling to the Rich Text component once we built it */
body > h1,
h2,
h3,
h4,
h5,
p {
	margin: 3rem 0 1.38rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-heading);
	color: var(--color-heading-text);
}

p {
	margin: 0;
}

h1 {
	margin-top: 0;
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

input {
	border: none;
}

a {
	color: var(--color-purple-500);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
